<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC085ftEg6y27YdqSixuwitjGR6-zQFKeo</string>
	<key>GCM_SENDER_ID</key>
	<string>583062296155</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Echo.Mobile</string>
	<key>PROJECT_ID</key>
	<string>echofirebase-423a8</string>
	<key>STORAGE_BUCKET</key>
	<string>echofirebase-423a8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:583062296155:ios:f62fad0b05c0e1c364917e</string>
</dict>
</plist>